<div class="dboard-hero">
    <h1 class="goalboard-header">Your Goals Dashboard</h1>
</div>
<div class="index-container">
    <div class="option-btn-container">
        <div class="sticky-div">
        <form action="/goals/new" method="get"><button type="submit" class="new-goal-btn"><i class="fas fa-plus-circle"> New Goal</i></button></form>
        <form action="/dashboard/edit" method="get"><button type="submit" class="edit-goals-btn"><i class="far fa-edit"> Edit</i></button></form>
        </div>

    </div>
    <div class="card-container">
        {{#each user.goals}}
        <div class="row">
            <div class="goal-card">
                {{#if this.accomplished}}
                <div class="accomplished-background">
                    <h2 class="goal-accomplished-header">Goal Accomplished</h2>
                </div>
                {{/if}}
                <h1 class="goal-title">{{this.title}}</h1>
                <div class="time-container">
                    <p class="goal-time">Goal Created: {{this.createdAt}}</p>
                    <p class="goal-type">Duration: {{this.type}}</p>
                </div>
                <div class="content-divider"></div>
                <p class="goal-description-header">Goal Description: </p>
                <p class="goal-description">{{this.description}}</p>
                <div class="card-btns">
                    <form action="/goals/{{this._id}}" method="get">
                        <button type="submit" class="show-btn">Log Updates</button>
                    </form>
                    <form action="/goals/{{this._id}}/accomplished?_method=PUT" method="post">
                        <button type="submit" class="accomplish-btn">Goal Accomplished!</button>
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

</div>
