<div class="dboard-hero">
    <h1 class="goalboard-header">Your Goals Dashboard</h1>
</div>
<div class="index-container">
    <div class="side-nav-container">
        <div class="sticky-div">
            <h2 class="username-header">{{user.username}}'s Goals</h2>
            <ul class="profile-options">
                <li class="profile-list-item"><a href="/goals/new" class="profile-options-btn">Create New</a></li>
                <li class="profile-list-item"><a href="/dashboard/edit" class="profile-options-btn">Edit Goal</a></li>
            </ul>
        </div>
    </div>
    <div class="card-container">
        {{#each user.goals}}
        <div class="row">
            <div class="goal-card">
                {{#if this.accomplished}}
                <div class="accomplished-background">
                    <h2 class="goal-accomplished-header">Goal Accomplished</h2>
                </div>
                {{/if}}
                <h1 class="goal-title">{{this.title}}</h1>
                <p class="goal-time">{{this.createdAt}}</p>
                <p class="goal-type">{{this.type}}</p>
                <hr class="content-divider">
                <p class="goal-description">{{this.description}}</p>
                <div class="card-btns">
                    <button type="submit" class="show-btn"><a class="show-goal-btn" href="/goals/{{this._id}}">Log Updates</a></button>
                    <form action="/goals/{{this._id}}/accomplished?_method=PUT" method="post">
                        <button type="submit" class="accomplish-btn">Goal Accomplished!</button>
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

</div>
