<div class="show-single-container">
    <div class="show-goal-card">
        {{#if goals.accomplished}}
        <div class="accomplished-background">
            <h2 class="goal-accomplished-header">Goal Accomplished</h2>
        </div>
        {{/if}}
        <h1 class="goal-title">{{goals.title}}</h1>
        <div class="time-container">
            <p class="goal-time">Goal Created: {{goals.createdAt}}</p>
            <p class="goal-type">Duration: {{goals.type}}</p>
        </div>
        <div class="content-divider"></div>
        <p class="goal-description-header">Goal Description: </p>
        <p class="goal-description">{{goals.description}}</p>
        <div class="edit-goal-btn-container">
            <form action="/goals/{{goals._id}}/edit" method="get">
                <button type="submit" class="edit-goal-btn">Edit Goal</button>
            </form>
        </div>
    </div>
    <!--// Action Items //---->
    <div class="actionItems-container">
        <h2 class="action-items-header">Actions Items:</h2>
        <form action="/goals/{{goals._id}}/actionItems" method="post">
            <input type="hidden" name="goalId" value="{{goals._id}}">
            <span><input type="text" class="action-item-input" name="item" placeholder="Action Items Go In Here">
            <button type="submit" class="save-action-item-btn"><i class="fas fa-plus-circle"></i></button></span>
        </form>
        <div class="actionItems-divider"></div>
        {{#each goals.actionItems}}
        <div class="action-items-list">
            <div class="bullet">&#8226;</div><p class="action-item">{{this.item}}</p>
            <form action="/goals/{{this.goalId}}/actionItems/{{this._id}}?_method=DELETE" method="post">
                <button type="submit" class="action-item-delete-btn"><i class="fas fa-trash-alt"></i></button>
            </form>
        </div>
        {{/each}}
    </div>

<!--- Goal Updates --->
<div class="updates-container">
    <h2 class="new-updates-header">Log Updates: </h2>
    <div class="updates-form-container">
        <form action="/goals/{{goals._id}}/updates" method="post">
            <input type="hidden" name="goalId" value="{{goals._id}}">
            {{> updates-form}}
            <button type="submit" class="save-update-btn">Save</button>
        </form>
    </div>
    <div class="updates-divider"></div>
    <h3 class="updates-header">Updates: </h3>
    <div class="update-items-container">
        {{#each goals.updates}}
            <h3 class=update-title>{{this.updateTitle}}</h3>
            <p class="update-created-at">{{this.createdAt}}</p>
            <p class="update-content">{{this.updateContent}}</p>
            <span><form action="/goals/{{this.goalId}}/updates/{{this._id}}?_method=DELETE" method="post">
                    <button type="submit" class="update-delete-btn">Delete</button>
                </form>
                <form action="/goals/{{this.goalId}}/updates/{{this._id}}/edit" method="get">
                    <button type="submit">Edit</button>
                </form></span>

            <hr>
        {{/each}}

    </div>
    </div>
</div>
